<div class="mw5 mw6-ns center">

<h1>About Mate Na Lavo!</h1>
<br>
<p><h4><i><strong>Mate Na Lavo</strong></i> is a Fijian saying that literally translates to "the money is dead".</h4> The meaning is that the speaker has made such a good deal that they don't need to think about the money anymore and the matter has been laid to rest. </p>

<p>We think Fiji deserves a great classifieds service is open for everyone to use. We aim to make <strong>Mate Na Lavo</strong> the most comprehensive and easy to use classifieds board in Fiji. Whether you're looking for a job, a used car or a new home, <strong>Mate Na Lavo</strong> wants to be your number one choice! Let us know how we can improve, email <a href="mailto:tevitadromodromo@gmail.com">Tevita</a>

</div>

