
<div class="col-md-10 col-md-offset-1">

<h1>News and Developments</h1>
<h3>16-08-2015 We are in development!</h3>
<p>We are currently in development! Please let us know if you find any errors/bugs or have suggestions on how we can improve! You can email <a href="mailto:pickntumble@gmail.com">Tevita Dromodromo</a></p>



</div>
