// Place all the styles related to the posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


/*For result rows*/
tr.hover {
   cursor: pointer;
}

#search-field {
border-radius: 0;
border: none;
vertical-align: bottom;
margin-right:5px;
}

@media screen and (max-width: 1366px) {
  table.listings tr td {
  font-size: 1.1em;
  }

}

@media screen and (max-width: 568px) {
  table.listings tr td {
  font-size: 1.4em;
  }

}

