<!DOCTYPE html>
<html lang="en">
  <head>
    <title>
    <%- if content_for? :page_title -%>
    <%= yield :page_title %> .. Mate Na Lavo Fiji Classifieds
    <% else %>
    Mate Na Lavo Free Fiji Classifieds
    <% end %>
    </title>
    <meta charset="UTF-8">
    <meta name="description" content="Fiji's biggest free classifieds. Whether you're in Suva, Nadi, Lautoka or Savusavu, we help you find a new car, a job, or a new house today! ">
    <%= csrf_meta_tags %>
    <meta name="keywords" content="Fiji, Viti Levu, Vanua Levu, free, classifieds, vacancy, for sale, jobs, houses, land, cars, autos" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
  </head>
  <body>
   
        <p id="notice"><%= notice %></p>
        <%= yield %>
        <div class="row" style="clear:both" align="center">


          <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
          <!-- matenalavo -->
          <ins class="adsbygoogle"
          style="display:block"
          data-ad-client="ca-pub-8870945451217756"
          data-ad-slot="2469094028"
          data-ad-format="auto"></ins>
          <script>
          (adsbygoogle = window.adsbygoogle || []).push({});
          </script>
        </div>
      </div>
    </body>
    <script>
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
    m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
    ga('create', 'UA-66625922-1', 'auto');
    ga('send', 'pageview');
    </script>
    <footer><p align='center'>Mate Na Lavo is Fiji's largest free classifieds service. We help Fijians find jobs, cars, houses and more.</p>
    <p align='center'><a href="/about">What is matenalavo?</a></p></footer>
  </html>